body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}

.layout {
    display: flex;
}


.sidebar {
    width: 220px;
    height: 100vh;
    background: #020617;
    padding: 30px 20px;
    position: fixed;
}

.logo {
    color: #38bdf8;
    margin-bottom: 40px;
}

.sidebar nav a {
    display: block;
    color: #e5e7eb;
    text-decoration: none;
    margin: 15px 0;
    transition: 0.3s;
}

.sidebar nav a:hover {
    color: #38bdf8;
}


.main-content {
    margin-left: 220px;
    padding: 50px;
    width: 100%;
}

section {
    margin-bottom: 100px;
}

.section-title {
    margin-bottom: 30px;
}


.hero span {
    color: #38bdf8;
}


.btn {
    padding: 10px 22px;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 10px;
}

.primary {
    background: #38bdf8;
    color: #000;
}

.outline {
    border: 2px solid #38bdf8;
    color: #38bdf8;
}


.about-grid,
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.about-card,
.project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
}


.bar {
    background: #1e293b;
    height: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.fill {
    height: 100%;
    background: #38bdf8;
    border-radius: 10px;
}

.html { width: 90%; }
.js { width: 75%; }
.ui { width: 80%; }


.contact-card {
    max-width: 400px;
    background: #1e293b;
    padding: 25px;
    border-radius: 20px;
}

.contact-card input,
.contact-card textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}


.profile-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px;
    border: 3px solid #38bdf8;
}


.project-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
    
}
